@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --clr-secondary: rgb(73, 166, 233);
  --clr-dark: hsl(205, 86%, 17%);
  --clr-white: #fff;
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  overflow-x: hidden;
}

/* ====globals==== */
h1,
h2,
h3,
h4,
h5,
h6,
a,
p {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.171875rem;
}

h4 {
  font-size: 1rem;
}

h5 {
  font-size: 0.83em;
}

.section-center {
  width: min(90%, 900px);
  margin: 0 auto;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  max-width: 500px;
}

button {
  border: 0;
  cursor: pointer;
  background: none;
  outline: none;
}

.signin-btn,
.signup-btn,
.back-link,
.apply-link {
  background: var(--clr-secondary);
  color: var(--clr-white);
  transition: all 0.25s linear;
  border-radius: 5px;
  display: inline-block;
}

.cta-logout {
  color: var(--clr-white);
  font-size: 1rem;
  background: none;
  border: none;
  color: var(--clr-dark);
  border-bottom: 1px solid var(--clr-dark);
  /* border-radius: ; */
}

@media (hover: hover) {
  .cta-logout:hover {
    background: none;
    color: var(--clr-dark);
  }

  .signin-btn:hover,
  .signup-btn:hover,
  .back-link:hover,
  .apply-link:hover {
    background-color: hsl(205, 78%, 50%);
    color: var(--clr-white);
  }
}

/* ===header=== */
.navbar {
  background-color: lightgray;
  position: relative;
  z-index: 1;
  height: 5rem;
}

nav .site-name {
  color: var(--clr-dark);
  font-weight: bold;
}

nav .account-link {
  color: var(--clr-dark);
  font-size: 1.5rem;
}

.back-link {
  background-color: var(--clr-secondary);
  color: var(--clr-white);
}

.form-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: min(90%, 500px);
  color: var(--clr-white);
  max-width: 300px;
}
.form-container p {
  font-size: 0.9rem;
  font-weight: 100;
  margin-bottom: 1rem;
}
.form-container p span {
  color: var(--clr-secondary);
}
.form-container h2 {
  text-align: center;
}

/* login section */
.login-section,
.signup-section {
  background-color: var(--clr-dark);
  min-height: calc(100vh - 5rem);
  text-align: center;
}

/* ===internship=== */
.internship {
  border: 1px solid var(--clr-secondary);
  border-radius: 5px;
  max-width: 500px;
  margin: 0 auto;
}

.logo-container {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 5px;
  text-transform: uppercase;
  font-size: 1.5rem;
  display: grid;
  place-content: center;
  background-color: var(--clr-dark);
  color: var(--clr-white);
}

::placeholder {
  color: var(--clr-dark);
}

.company {
  color: var(--clr-secondary);
}

.location {
  text-transform: capitalize;
}

.details-link {
  color: var(--clr-secondary);
  font-size: 1rem;
  display: block;
  width: max-content;
  margin-left: auto;
}

/* ===DETAILS=== */
.details-section {
  padding: 2rem 0;
}

.details-section .section-center {
  max-width: 600px;
}

.details .title {
  margin: 0.5rem 0;
}

.summary p,
.details li {
  font-size: 1rem;
  color: var(--clr-dark);
}
/* ===END OF DETAILS=== */
